.idea/workspace.xml
/operations1.txt
/operations2.txt
/operations3.txt
/operations4.txt
/operations5.txt
/operations6.txt
/operations_temp.txt
/SBD_projekt_2_197636.pdf
/fill_percentage.png
/records.bin
/btree.bin
